body {
	padding: 20px;
}

#edit_button {
	margin-top: 15px;
}

.my-list-group {
	margin-bottom: 20px;
}

.my-card {
	padding-left: 5px;
	padding-right: 5px;
}

.card-bottom {
	margin-bottom: 3px;
}

li {
	list-style: none;
}

.button-magin {
	margin-left: 10px;
	margin-top: 10px;
}

.edit-button-margin {
	margin-top: 10px;
}

.my-img {
	height: 96px;
	display: block;
}

